<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <title>FlaskBlog</title>

</head>
<body>
    <h1>Welcome to my flask blog</h1>
    <p>Hi there folks. This is a blog I'm making with the flask module in python. Apparently it isn't really suitable for production but it provides a development environment. I might need to import some CSS to make this look really pretty. I do wonder how it interfaces with JS. I may need to finish of that series on web developmnet perscibed by the bootcamp.</p>
</body>